/* Shared styles starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 50px auto;
}

.font {
  font-family: "Poppins", sans-serif;
}

.panda-btn {
  padding: 14px 20px;
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgba(255, 88, 155, 1),
    rgba(255, 19, 111, 1) 100%
  );

  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25em;
  transition: all 0.3s ease;
}

.panda-btn:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 19, 111, 1) 100%,
    rgb(255, 123, 176)
  );
  transition: all 0.3s ease;
  transform: scale(1.05) rotate(0deg) translate(0px, -5px) skewX(0deg);
}

/* Shared styles ends here */

/* Navbar styles  starts here  */
nav {
  display: flex;
  justify-content: space-between;
}

nav img {
  cursor: pointer;
}

.search-parent {
  position: relative;
  color: #bababa;
}

.search-parent input {
  background-color: #f1f1f1;
  border-radius: 66px;
  width: 500px;
  padding: 12px;
  border: none;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 8px;
}

.nav-items {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #707070;
  font-weight: 600;
}
/* Navbar styles ends here  */

/* Banner style starts here  */
.banner {
  background: rgba(254, 234, 233, 1);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
}

.banner h2 {
  font-size: 3.5em;
  font-weight: 700;
}

.banner p {
  color: #4e4e4e;
  width: 700px;
  margin-bottom: 30px;
}

.banner-price {
  font-size: 3.25em;
  font-weight: 700;
  color: rgba(255, 19, 111, 1);
  margin-bottom: 25px;
  display: inline-block;
}

.banner img {
  width: 402px;
  height: 378px;
}
/* Banner style ends here  */

/* categories section style here  */
.category-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  gap: 30px;
}

.categories h2 {
  font-size: 2.25em;
  font-weight: 600;
}

.watch-card,
.bag-card,
.shoes-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 45px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 1.25em;
  flex: 1;
  transition: all 0.3s ease;
}

.shoes-card:hover,
.bag-card:hover,
.watch-card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transform: scale(1.05) rotate(0deg) translate(0px, -5px) skewX(0deg);
  transition: all 0.3s ease;
}

.watch-card {
  background: linear-gradient(
    151.85deg,
    rgba(255, 156, 53, 1),
    rgba(255, 208, 25, 1) 100%
  );
}

.bag-card {
  background: linear-gradient(
    180deg,
    rgba(255, 88, 155, 1),
    rgba(255, 19, 111, 1) 100%
  );
}

.shoes-card {
  background: linear-gradient(
    170.38deg,
    rgba(66, 137, 255, 1),
    rgba(63, 7, 248, 1) 100%
  );
}

/* item container styles  */
.item-container {
  background-color: #f4f4f4;
  margin-top: 20px;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.item-list p {
  color: #ff9f00;
  font-size: 1.25em;
  font-weight: 500;
  cursor: pointer;
}

.item-list h2 {
  font-size: 2.25em;
  font-weight: 600;
  color: #1f1f1f;
}

.item-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex: 1;
  padding-bottom: 80px;
}

.item-card {
  width: 410px;
  height: 544px;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item-card:hover {
  box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 15%);
  transition: all 0.3s ease;
  transform: scale(1.05) rotate(0deg) translate(0px, -5px) skewX(0deg);
}

.item-card img {
  width: 100%;
  height: 250px;
  margin-bottom: 22px;
  display: block;
}

.watch-image {
  width: 100%;
  height: 200px;
}

.item-card p {
  color: #4e4e4e;
  margin-bottom: 16px;
}

.item-price {
  display: block;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 16px;
}

.item-card button {
  background: rgba(0, 0, 0, 1);
}
