/* Shared styles starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 50px auto;
}

.font {
  font-family: "Poppins", sans-serif;
}

.panda-btn {
  padding: 14px 20px;
  border-radius: 6px;
  background: linear-gradient(
    180deg,
    rgba(255, 88, 155, 1),
    rgba(255, 19, 111, 1) 100%
  );

  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.panda-btn:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 19, 111, 1) 100%,
    rgb(255, 123, 176)
  );
}

/* Shared styles ends here */

/* Navbar styles  starts here  */
nav {
  display: flex;
  justify-content: space-between;
}

nav img{
  cursor: pointer;
}

.search-parent {
  position: relative;
  color: #bababa;
}

.search-parent input {
  background-color: #f1f1f1;
  border-radius: 66px;
  width: 500px;
  padding: 12px;
  border: none;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 8px;
}

.nav-items {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #707070;
  font-weight: 600;
}

/* Navbar styles ends here  */

/* Banner style starts here  */
.banner {
  background: rgba(254, 234, 233, 1);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
}

.banner h2 {
  font-size: 3.5em;
  font-weight: 700;
}

.banner p {
  color: #4e4e4e;
  width: 700px;
  margin-bottom: 30px;
}

.banner-price {
  font-size: 3.25em;
  font-weight: 700;
  color: rgba(255, 19, 111, 1);
  margin-bottom: 25px;
  display: inline-block;
}

.banner img {
  width: 402px;
  height: 378px;
}
/* Banner style ends here  */
